.header1 {
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
  
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .nav-links.open {
    display: flex;
    flex-direction: column;
    position: fixed; /* Changed from absolute */
    top: 0;
    right: 0;
    background-color: #ffffff;
    width: 250px; /* Added fixed width for the sidebar */
    height: 100%; /* Make it cover the full height */
    padding: 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Added z-index to position it above other elements */
  }
  
  .nav-links.open a {
    margin-bottom: 1rem;
  }
  
  .header-logo.hide-logo { /* Added style to hide the logo */
    display: none;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .hamburger {
      display: block;
    }
  }
  
  
  .nav-links {
    display: flex;
  }

  .nav-links a:hover {
    color: #0077ff;
    position: relative;
    cursor: pointer;
  }
  .header-logo {
    height: 60px; /* Adjust the size of the logo as needed */
  }

  
.nav-links a:hover::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #0077ff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
  }
  
  
  .nav-links a {
    color: #333333;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.2s ease-in-out;
    display: flex;
    flex-direction: row; /* add this line */
      
  }
  
  .nav-links a:hover {
    color: #0077ff;
  }